.input {
  justify-content: center;
  text-align: center;
  display: flex;
  background: transparent;
  border-radius: 0.8rem;
  padding: 0.8rem;
  color: var(--secondary);

  border: 0.2rem solid var(--secondary);
}

.labelText {
  justify-content: center;
  display: flex;
  text-align: center;
  gap: 2.4rem;
}
